<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <header class="w-screen flex flex-col items-center justify-between z-10">
    <nav class="w-full h-20 flex flex-row justify-between items-center p-5">
      <h1>
        <a class="text-red-500" href="/"
          ><img class="w-20" src="/images/hero-logo4.webp" alt=""
        /></a>
      </h1>
      <svg
        id="profile"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-8 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>

      <ul
        id="profileMenu"
        class="hidden h-screen w-72 text-lg absolute rounded-sm bg-white top-0 right-0 flex-col items-end"
        style="box-shadow: 0 4px 8px 0 #159957a2, 0 6px 20px 0 #1557998e"
      >
        <svg
          id="profile"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          class="size-8 m-5 cursor-pointer"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <div class="w-full flex flex-col p-4 mt-5 space-y-7">
          <% if (user){ %>
          <div class="text-green-500 mb-3">Welcome <%= user.username %></div>
          <li><a href="/logout">Log out</a></li>
          <li class="text-red-700">
            <a href="/delete">Delete Account</a>
          </li>
          <% }else{ %>
          <li><a href="/login">Log in</a></li>
          <li><a href="/signup" class="btn">Sign up</a></li>
          <% } %>
        </div>
      </ul>
    </nav>
  </header>
  <script>
    const profile = document.querySelectorAll("#profile");
    const profileMenu = document.getElementById("profileMenu");

    profile.forEach((x) =>
      x.addEventListener("click", () => {
        profileMenu.classList.toggle("hidden");
        profileMenu.classList.toggle("flex");
      })
    );
  </script>
</html>
