<%- include('partials/header'); -%>
<body class="w-screen h-screen flex flex-col items-center justify-between">
  <div class="flex w-auto h-auto flex-col space-y-16">
    <a
      class="text-white p-1 w-52 h-12 rounded-3xl flex items-center justify-center"
      style="
        background: linear-gradient(to right, #159957, #155799);
        box-shadow: 0 2px 4px 0 #159957, 0 3px 10px 0 #159957;
      "
      href="/login"
      >Log in</a
    >
    <a
      href="/signup"
      class="text-white p-1 w-52 h-12 rounded-3xl flex items-center justify-center"
      style="
        background: linear-gradient(to right, #159957, #155799);
        box-shadow: 0 2px 4px 0 #159957, 0 3px 10px 0 #159957;
      "
      >Sign up</a
    >
  </div>
</body>
<%- include('partials/footer'); -%>
